{% extends 'sample_sheet/base.html' %}
{% load static %}

{% block content %}

<nav class="navbar navbar-custom">
    <a href="{% url 'indexsets' %}"><button type="button" class="w-100 btn btn-outline-dark position-relative start-50"><span class="fa fa-arrow-alt-circle-left" style="width:  30px;color: #17252A"></span>Back to Index Sets</button></a>
</nav>

<div class="container">

	<br>
	
	<div class="row">
		<h3><center>{{ name }} indexes</center></h3>
	</div>
		<br>
	<div class="row">
    	<table class="table table-striped table-bordered" style="width:100%">
    	<thead>
    		<tr>
    			{% if well_input == True %}
	            <th scope="col">Plate Well</th>

	            {% else %}
	            <th scope="col">Position</th>

	            {% endif %}

	            <th scope="col">Index 1 ID (i7)</th>
	            <th scope="col">Index 1 sequence</th>
	            <th scope="col">Index 2 ID (i5)</th>
	            <th scope="col">Index 2 sequence</th>
          	</tr>
        </thead>

        <tbody>
	          {% for index in indexes %}
	        <tr>
	        	{% if well_input == True %}
	        	<td>{{ index.well }}</td>

	        	{% else %}
	            <td>{{ index.pos }}</td>

	            {% endif %}
	            
	            <td>{{ index.index1_name }}</td>
	            <td>{{ index.index1_seq }}</td>
	            <td>{{ index.index2_name }}</td>
	            <td>{{ index.index2_seq }}</td>
	        </tr>
	        {% endfor %}
        </tbody>
    	</table>
	</div>
	<br>
	<br>
</div>




{% endblock %}
