{% extends 'sample_sheet/base.html' %}
{% load static %}

{% block content %}
<nav class="navbar navbar-custom">
    <a href="{% url 'home' %}"><button type="button" class="w-100 btn btn-outline-light position-relative start-50"><span class="fa fa-arrow-alt-circle-left" style="width:  30px;color: white"></span>Back to Services</button></a>
</nav>

<br>
<div class="container">
  <div class="row">
    <div class="col-12">
      <h3><center>Index sets</center></h3>
      <br>

      <table id="indexset_table" class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Vendor</th>
            <th scope="col">Service</th>
          </tr>
        </thead>

        <tbody>
          {% for set in index_sets %}
          <tr>
            <td>
              <a class="btn btn-info buttons1 btn-outline-light" href="{% url 'indexdetail' set.set_name %}" role="button">
                <span class="fa fa-search"></span>
              </a>
              &ensp;
              {{ set.set_name }}
            </td>
            <td>{{ set.vendor }}</td>
            <td>{{ set.product }}</td>
          </tr>
          {% endfor %}
        </tbody>

      </table>

    </div>
  </div>
  <br>
  <br>
</div>


<!-- JAVASCRIPT -->
<script>
  $(document).ready(function(){
    var table = $('#indexset_table').DataTable({
      "paging": true,
      "ordering": true,
      "stripe": true,
      "info": false,
      "pageLength": 25,
      "aaSorting": [],
      "searching": true,
       language: {
                searchPlaceholder: "Search index set name",
                search: "",
            },
            initComplete: function () {
                $('.dataTables_filter input[type="search"]').css({ 'width': '100%', 'display': 'inline-block' });
            }
    })
  });
</script>


{% endblock %}