{% extends 'auto_qc/base.html' %}
{% load static %}
{% block content %}


<br>


<table id="run_analysis" class="table table-hover table-bordered table-responsive">

  <thead>
	<tr>
	  <th>ID</th>
	  <th>Run</th>
	  <th>Analysis</th>
	  <th>Pipeline</th>
	  <th>Start Date</th>
	  <th>Demultiplex Complete</th>
	  <th>Demultiplex Valid</th>
	  <th>Samples Complete</th>
	  <th>Samples Valid</th>
	  <th>Run Complete</th>
	  <th>Run Valid</th> 
	</tr>
  </thead>

  <tbody>
	{% for run_analysis in run_analyses %}
	<tr>
		<td> {{run_analysis.pk}} </td>
		<td> {{run_analysis.run.run_id}} </td>
		<td> {{run_analysis.analysis_type.analysis_type_id}} </td>
		<td> {{run_analysis.pipeline.pipeline_id}} </td>
		<td> {{run_analysis.start_date|date:'Y-m-d'}} </td>
		<td> {{run_analysis.run.demultiplexing_completed}} </td>
		<td> {{run_analysis.run.demultiplexing_valid}} </td>
		<td> {{run_analysis.get_n_samples_completed|join:" / "}} </td>
		<td> {{run_analysis.get_n_samples_valid|join:" / "}} </td>
		<td> {{run_analysis.results_completed}} </td>
		<td> {{run_analysis.results_valid}} </td>
	
	</tr>
	{% endfor %}
  </tbody>


</table>
<br>
<br>


<!-- JAVASCRIPT -->
<script>
$(document).ready(function(){

	// Inititialise DataTable
	var table = $('#run_analysis').DataTable({
		"paging":   true,
		"ordering": true,
		"info":     false,
		"pageLength": 25,
		"searching": true,
		"aaSorting": [],
	});


});
</script>

{% endblock %}