{% extends 'auto_qc/base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

<br>

<h2> Run Information </h2>

{{checks_to_do}}

<table id="run_analysis" class="table table-hover table-bordered table-sm">
 <tbody>
	<tr>
		<td> Run </td>
		<td> {{run_analysis.run.run_id}} </td>
	</tr>
	<tr>
		<td> Worksheets </td>
		<td> {{run_analysis.get_worksheets}} </td>

	</tr>
	<tr>
		<td> Pipeline </td>
		<td> {{run_analysis.pipeline.pipeline_id}} </td>

	</tr>
	<tr>
		<td> Analysis </td>
		<td> {{run_analysis.analysis_type.analysis_type_id}} </td>

	</tr>

	{% if 'pct_q30' in checks_to_do %}

	<tr>
		<td> Min Q30 Score </td>
		<td> {{min_q30_score}}%</td>

	</tr>

	{% endif %}

	{% if 'contamination' in checks_to_do %}
	<tr>
		<td> Max Contamination Score </td>
		<td> {{max_contamination_score}}%</td>

	</tr>

	{% endif %}

	{% if 'ntc_contamination' in checks_to_do %}

	<tr>
		<td> Max NTC Contamination Score </td>
		<td> {{max_ntc_contamination_score}}%</td>

	</tr>

	{% endif %}



	{% if 'variant_check' in checks_to_do %}

	<tr>
		<td> Min Number of Variants (Warning Only) </td>
		<td> {{run_analysis.min_variants}}</td>

	</tr>

	<tr>
		<td> Max Number of Variants (Warning Only)  </td>
		<td> {{run_analysis.max_variants}}</td>

	</tr>

	{% endif %}

	<!-- WES Settings for CNVS-->
	{% if run_analysis.display_cnv_qc_metrics %}

	<tr>
		<td>CNV QC Checks </td>
		<td>Pass/Fail</td>
	</tr>

	<tr>
		<td>Minimum Average Coverage for CNVs</td>
		<td> {{run_analysis.min_average_coverage_cutoff}} </td>

	{% endif %}
	
	<!-- WGS Settings for CNVs-->
	{% if 'cnv_call_range' in checks_to_do %}
	
	<tr>
		<td> Minimum Average Coverage for CNVs</td>
		<td> {{run_analysis.min_average_coverage_cutoff}}</td>
	</tr>
	<tr>
		<td> CNV Count Range (Warning Only)</td>
		<td> {{run_analysis.min_cnv_calls}} - {{run_analysis.max_cnv_calls}}</td>
	</tr>
	{% endif %}

	{% if 'sensitivity' in checks_to_do %}

	<tr>
		<td> Min Sensitivity</td>
		<td> {{run_analysis.min_sensitivity}}</td>

	</tr>

	{% endif %}

	{% if 'titv' in checks_to_do %}

	<tr>
		<td> TiTv Ratio Range</td>
		<td> {{run_analysis.min_titv}} - {{run_analysis.max_titv}}</td>

	</tr>

	{% endif %}

	{% if 'reads_tso500' in checks_to_do %}

	<tr>
		<td> Min Reads</td>
		<td> {{run_analysis.min_on_target_reads}} </td>

	</tr>
	{% endif %}


	{% if 'ntc_contamination_TSO500' in checks_to_do %}

	<tr>
		<td> Max NTC Contamination </td>
		<td> {{run_analysis.max_ntc_contamination}}% </td>

	</tr>
	{% endif %}


	{% if 'coverage' in checks_to_do %}

	<tr>
		<td> Min Exonic Coverage > 20x</td>
		<td> {{run_analysis.min_coverage}} </td>

	</tr>

	{% endif %}


	{% if 'fusion_alignment' in checks_to_do %}

	<tr>
		<td> Min Aligned Unique Reads</td>
		<td> {{run_analysis.min_fusion_aligned_reads_unique}} </td>

	</tr>

	{% endif %}


	
	{% if 'relatedness' in checks_to_do %}

	<tr>
		<td> Min Relatedness between Child and Parents </td>
		<td> {{run_analysis.min_relatedness_parents}} </td>

	</tr>

	<tr>
		<td> Max Relatedness between Unrelated Samples </td>
		<td> {{run_analysis.max_relatedness_unrelated}} </td>

	</tr>

	<tr>
		<td> Max Relatedness between Parents (Warning Only) </td>
		<td> {{run_analysis.max_relatedness_between_parents}} </td>

	</tr>

	<tr>
		<td> Max Relatedness between Child and Parents </td>
		<td> {{run_analysis.max_child_parent_relatedness}} </td>

	</tr>

	{% endif %}


	{% if run_analysis.watching == False %}

	<tr>
		<td> Sign Off User </td>
		<td> {{run_analysis.signoff_user}}</td>

	</tr>


	<tr>
		<td> Sign Off Date </td>
		<td> {{run_analysis.signoff_date}}</td>

	</tr>

	<tr>
		<td> Manual QC </td>
		<td> {{run_analysis.manual_approval}}</td>

	</tr>

	<tr>
		<td> Manual QC Comment</td>
		<td> {{run_analysis.comment}}</td>

	</tr>

	{% endif %}


  </tbody>


</table>

<h2> Auto QC </h2>

{% if auto_qc.0 == True %}
<div class="alert alert-success">

  <a class="btn btn-success" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Pass
  </a>

<div class="collapse" id="collapseExample">
	<br>
  <div class="card card-body">
   The following checks were performed: bioinformatics,{{run_analysis.auto_qc_checks}}
  </div>
</div>

</div>
{% else %}

<div class="alert alert-danger">

  <a class="btn btn-danger" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Fail: {{ auto_qc.1|join:' | ' }}
  </a>

<div class="collapse" id="collapseExample">
	<br>
  <div class="card card-body">
     The following checks were performed: bioinformatics,{{run_analysis.auto_qc_checks}}
  </div>
</div>

</div>



{% endif %}


<h2> Run Level QC </h2>

<br>
<h5> Raw Data Quality </h5>

<table id="run_analysis" class="table table-hover table-bordered table-sm">

  <thead>
	<tr>
	  <th>Read</th>
	  <th>Lane</th>
	  <th>Percent > q30</th>
	  <th>Cluster Density (K/mm2)</th>
	  <th>Clusters Passing Filter (%)</th>
	</tr>
  </thead>

 <tbody>
	{% for run_level_quality in run_level_qualities %}

		{% if run_level_quality.percent_q30 > min_q30_score %}
		<tr>
			<td > {{run_level_quality.read_number}} </td>
			<td > {{run_level_quality.lane_number}} </td>
			<td class="table-success"> {{run_level_quality.percent_q30}} </td>
			<td> {{run_level_quality.display_cluster_density}} </td>
			{% if run_level_quality.percent_pf < cpf_warning %}
				<td class="table-warning"> {{run_level_quality.display_clusters_passing_filter}} </td>
			{% else %}
				<td> {{run_level_quality.display_clusters_passing_filter}}</td>
			{% endif %}
		</tr>
		{% else %}
		<tr>
			<td > {{run_level_quality.read_number}} </td>
			<td> {{run_level_quality.lane_number}} </td>
			<td class="table-danger"> {{run_level_quality.percent_q30}} </td>
			<td> {{run_level_quality.display_cluster_density}} </td>
		</tr>
		{% endif %}

	{% endfor %}
  </tbody>


</table>


{% if 'sensitivity' in checks_to_do %}

<h5> Sensitivity </h5>

<table id="sensitivity" class="table table-hover table-bordered table-sm">

  <thead>
	<tr>
	  <th>Sensitivity</th>
	  <th>Sensitivity User</th>
	 </tr>

	</thead>

	<tbody>

		{% if 'sensitivity' in checks_to_do %}

		{% if run_analysis.passes_sensitivity == True %}

		<td class="table-success"> {{run_analysis.sensitivity}} ({{run_analysis.sensitivity_lower_ci}}-{{run_analysis.sensitivity_higher_ci}}) </td>
		<td class="table-success"> {{run_analysis.sensitivity_user}} </td>

		{% else %}

		<td class="table-danger"> {{run_analysis.sensitivity}} ({{run_analysis.sensitivity_lower_ci}}-{{run_analysis.sensitivity_higher_ci}}) </td>
		<td class="table-danger"> {{run_analysis.sensitivity_user}} </td>

		{% endif %}

		{% else %}

		<td> {{run_analysis.sensitivity}} ({{run_analysis.sensitivity_lower_ci}}-{{run_analysis.sensitivity_higher_ci}}) </td>
		<td> {{run_analysis.sensitivity_user}} </td>


		{% endif %}


	</tbody>
</table>

{% endif %}


{% if 'relatedness' in checks_to_do %}

<h5> Relatedness </h5>

<table id="relatedness" class="table table-hover table-bordered table-sm">

  <thead>
	<tr>
	  <th>Relatedness Pass</th>
	  <th>Relatedness Comment</th>
	 </tr>

	</thead>

	<tbody>

		{% if run_analysis.passes_relatedness.0 == True %}

		<td class="table-success"> {{run_analysis.passes_relatedness.0}} </td>
		<td class="table-success"> {{run_analysis.passes_relatedness.1 }}</td>

		{% else %}


		<td class="table-danger"> {{run_analysis.passes_relatedness.0}} </td>
		<td class="table-danger"> {{run_analysis.passes_relatedness.1 }} : Contact Bioinformatics</td>

		{% endif %}


	</tbody>
</table>

{% endif %}



{% if run_analysis.analysis_type.analysis_type_id != "NIPT" %}

<h2> Sample Level QC </h2>


<table id="run_analysis" class="table table-hover table-bordered table-sm">

  <thead>
	<tr>
	  <th>Sample</th>
	  <th>Worksheet</th>

	  {% if 'fastqc' in checks_to_do %}
	  	<th>FASTQC</th>
	  {% endif %}

	  {% if 'reads_tso500' in checks_to_do %}

		<th> Reads </th>

      {% endif %}

	  {% if 'coverage' in checks_to_do %}
	  	<th> Pct > 20x</th>
	  {% endif %}

	  {% if run_analysis.analysis_type.analysis_type_id != "RocheSTFusion" and run_analysis.pipeline.pipeline_id != "TSO500-master" and run_analysis.pipeline.pipeline_id != "tso500_ctdna-master" %}

	  <th>Total Reads</th>
	  <th>Total Variants</th>
	  
	  {% elif run_analysis.pipeline.pipeline_id == "tso500_ctdna-master" %}
	  
	  <th>Aligned Reads</th>

	  {% endif %}

	  {% if 'contamination' in checks_to_do %}

	  <th>Contamination</th>

	  {% endif %}

	  {% if 'fusion_alignment' in checks_to_do %}

	  <th> Aligned Reads </th>
	  <th> Unique Aligned Reads </th>

	  {% endif %}


	  {% if 'fusion_contamination' in checks_to_do %}

	  <th> Contamination </th>
	  <th> Contamination Referral </th>

	  {% endif %}

	  {% if 'ntc_contamination' in checks_to_do %}

	  <th>Passes NTC Contamination</th>

	  {% endif %}

	  {% if 'ntc_contamination_TSO500' in checks_to_do %}

	  <th> Total pf reads</th>
	  <th> Percent NTC pf reads</th>
	  <th> Total aligned reads</th>
	  <th> Percent NTC aligned reads</th>


	  {% endif %}

	  {% if 'pct_on_target' in checks_to_do %}

				<th> Proportion On Target Reads </th>
	  {% endif %}

	  
	  {% if run_analysis.display_cnv_qc_metrics %}

	  <th> Passes CNV calling</th>

	  {% endif %}
	  
	  {% if 'min_average_coverage' in checks_to_do %}
	  
	  <th> Average Coverage </th>

	  {% endif %}

	  {% if 'cnv_call_range' in checks_to_do %}
	  
	  <th> CNV Count </th>
	  
	  {% endif %}


	  {% if 'sex_match' in checks_to_do %}

	  <th>Sample Sex</th>
	  <th>Calculated Sex</th>

	  {% endif %}
	  {% if run_analysis.watching == False %}
	  	<th>Sample Status</th>
	  {% endif %}
	  {% if run_analysis.watching == True %}
	  <th>Pass Sample?</th>
	  {% endif %}
	</tr>
  </thead>

   <form method="post">

   	{% csrf_token %}

   <input type="hidden" id="samplefail" name="samplefail" value="samplefail"> 

  <tbody>
	{% for sample_analysis in sample_analyses %}
	<tr>

		{% if sample_analysis.sample.is_ntc == True %}

			<td class="table-dark"> {{sample_analysis.sample.sample_id}} </td>
			<td class="table-dark"> {{sample_analysis.worksheet}} </td>

			{% if 'fastqc' in checks_to_do %}
			<td class="table-dark"> {{sample_analysis.passes_fastqc}} </td>
		        {% endif %}

			{% if 'coverage' in checks_to_do %}
			<td class="table-dark"> {{sample_analysis.get_region_coverage_over_20}} </td>
			{% endif %}

			{% if run_analysis.analysis_type.analysis_type_id != "RocheSTFusion" and run_analysis.pipeline.pipeline_id != "TSO500-master" and run_analysis.pipeline.pipeline_id != "tso500_ctdna-master" %}

			<td class="table-dark"> {{sample_analysis.get_total_reads}} </td>
			<td class="table-dark"> {{sample_analysis.get_variant_count}} </td>
			
			{% elif run_analysis.pipeline.pipeline_id == "tso500_ctdna-master" %}
			
			<td class="table-dark"> {{sample_analysis.get_ctDNA_aligned_reads}} </td>


			{% endif %}


			{% if 'contamination' in checks_to_do %}
			<td class="table-dark"> {{sample_analysis.get_contamination}} </td>
			{% endif %}

			{% if 'fusion_alignment' in checks_to_do %}

			<td class="table-dark"> {{sample_analysis.get_aligned_reads_fusion.aligned_reads}} </td>
			<td class="table-dark"> {{sample_analysis.get_aligned_reads_fusion.unique_reads_aligned}} </td>

			{% endif %}


		    {% if 'fusion_contamination' in checks_to_do %}

			<td class="table-dark"> {{sample_analysis.get_contamination_fusion}} </td>
			<td class="table-dark"> {{sample_analysis.get_contamination_referral_fusion}}</td>

		    {% endif %}

			{% if 'ntc_contamination' in checks_to_do %}
			<td class="table-dark"> {{sample_analysis.passes_ntc_contamination}} </td>
			{% endif %}

			{% if run_analysis.display_cnv_qc_metrics %}
			<td class="table-dark">NA</td>
			<td class="table-dark">NA</td>

			{% endif %}
			
			{% if 'cnv_call_range' in checks_to_do %}
			<td class="table-dark">NA</td>
			<td class="table-dark">NA</td>
			
			{% endif %}

			{% if 'sex_match' in checks_to_do %}
			<td class="table-dark"> {{sample_analysis.get_sex}} </td>
			<td class="table-dark"> {{sample_analysis.get_calculated_sex}} </td>
			{% endif %}


			{% if 'reads_tso500' in checks_to_do %}
			<td class="table-dark">{{sample_analysis.get_reads_tso500}} </td>
			{% endif %}


			{% if 'ntc_contamination_TSO500' in checks_to_do %}

				<td class="table-dark">{{sample_analysis.get_total_pf_reads_tso500}}</td>
				<td class="table-dark">N/A</td>
				<td class="table-dark">{{sample_analysis.get_total_aligned_reads_tso500}}</td>
				<td class="table-dark">N/A</td>

			{% endif %}


			{% if run_analysis.display_cnv_qc_metrics %}
			<td class="table-dark">{{sample_analysis.passes_cnv_calling}}</td>



			{% endif %}

			<td class="table-dark"> </td>
			
		{% else %}

		<td> {{sample_analysis.sample.sample_id}} </td>
		<td> {{sample_analysis.worksheet}} </td>


		{% if 'fastqc' in checks_to_do %}
		{% if sample_analysis.passes_fastqc == True %}
			<td class="table-success"> 
			<div data-toggle="tooltip" data-placement="top" title="Basic Statistics = {{sample_analysis.display_fastqc_checks.0}} | Per base sequencing quality = {{sample_analysis.display_fastqc_checks.1}} | Per sequence quality scores = {{sample_analysis.display_fastqc_checks.2}} | Per base N content =  {{sample_analysis.display_fastqc_checks.3}}"> 
			{{sample_analysis.passes_fastqc}} </td>
		{% else %}
			<td class="table-danger"> 
			<div data-toggle="tooltip" data-placement="top" title="Basic Statistics = {{sample_analysis.display_fastqc_checks.0}} | Per base sequencing quality = {{sample_analysis.display_fastqc_checks.1}} | Per sequence quality scores = {{sample_analysis.display_fastqc_checks.2}} | Per base N content =  {{sample_analysis.display_fastqc_checks.3}}">
			{{sample_analysis.passes_fastqc}} </td>
		{% endif %}
		{% endif %}



		{% if 'reads_tso500' in checks_to_do %}
		{% if sample_analysis.passes_reads_tso500 == True %}
			<td class="table-success"> {{sample_analysis.get_reads_tso500}} </td>
		{% else %}
			<td class="table-warning"> {{sample_analysis.get_reads_tso500}} </td>
		{% endif %}
		{% endif %}



		{% if 'coverage' in checks_to_do %}

			{% if sample_analysis.passes_region_coverage_over_20 == True %}
			<td class="table-success"> {{sample_analysis.get_region_coverage_over_20}} </td>
			{% else %}
			<td class="table-danger"> {{sample_analysis.get_region_coverage_over_20}} </td>
			{% endif %}
			
		{% endif %}




		{% if run_analysis.analysis_type.analysis_type_id != "RocheSTFusion" and run_analysis.pipeline.pipeline_id != "TSO500-master" and run_analysis.pipeline.pipeline_id != "tso500_ctdna-master" %}

		<td> {{sample_analysis.get_total_reads}} </td>

		{% if sample_analysis.get_variant_count == 'NA' %}
			<td> {{sample_analysis.get_variant_count}} </td>
		{% elif sample_analysis.get_variant_count > run_analysis.min_variants and sample_analysis.get_variant_count < run_analysis.max_variants  %}
			<td class="table-success"> {{sample_analysis.get_variant_count}} </td>
		{% else %}
			<td class="table-warning"> {{sample_analysis.get_variant_count}} </td>
		{% endif %}
		
		{% elif run_analysis.pipeline.pipeline_id == "tso500_ctdna-master" %}
		
		<td> {{sample_analysis.get_ctDNA_aligned_reads}} </td>
		
		{% endif %}

		{% if 'contamination' in checks_to_do %}
		
		  {% if run_analysis.analysis_type.analysis_type_id != "NonocusWES38" %}

		    {% if sample_analysis.get_contamination == 'NA' %}
			<td> {{sample_analysis.get_contamination}} </td>
		    {% elif sample_analysis.get_contamination < sample_analysis.contamination_cutoff %}
			<td class="table-success"> {{sample_analysis.get_contamination}} </td>
		    {% else %}
			<td class="table-danger"> {{sample_analysis.get_contamination}} </td>
		    {% endif %}
		
		  {% else %}
		    {% if sample_analysis.get_contamination == 'NA' %}
			<td> {{sample_analysis.get_contamination}} </td>
		    {% elif sample_analysis.get_contamination < 0.05 %}
			<td class="table-success"> {{sample_analysis.get_contamination}} </td>
		    {% elif sample_analysis.get_contamination < 0.1 and sample_analysis.get_contamination >= 0.05 %}
		        <td class="table-warning"> {{sample_analysis.get_contamination}} </td>
		    {% else %}
			<td class="table-danger"> {{sample_analysis.get_contamination}} </td>
		    {% endif %}
		
		  {% endif %}
		{% endif %}


		{% if 'ntc_contamination_TSO500' in checks_to_do %}

			<td> {{sample_analysis.get_total_pf_reads_tso500}} </td>



			{% if sample_analysis.passes_percent_ntc_tso500 %}
				<td class="table-success"> {{sample_analysis.get_percent_ntc_tso500}}% </td>
			{% else %}
				<td class="table-warning"> {{sample_analysis.get_percent_ntc_tso500}}% </td>

			{% endif %}


			<td> {{sample_analysis.get_total_aligned_reads_tso500}} </td>

			{% if sample_analysis.passes_percent_ntc_aligned_tso500 %}
				<td class="table-success"> {{sample_analysis.get_percent_ntc_aligned_tso500}}% </td>
			{% else %}
				<td class="table-danger"> {{sample_analysis.get_percent_ntc_aligned_tso500}}% </td>

			{% endif %}




		{% endif %}

		{% if 'fusion_alignment' in checks_to_do %}

			<td> {{sample_analysis.get_aligned_reads_fusion.aligned_reads}} </td>

			{% if sample_analysis.passes_fusion_aligned_reads_duplicates %}

				<td class="table-success"> {{sample_analysis.get_aligned_reads_fusion.unique_reads_aligned}} </td>

			{% else %}

				<td class="table-danger"> {{sample_analysis.get_aligned_reads_fusion.unique_reads_aligned}} </td>

			{% endif %}

		{% endif %}

		{% if 'fusion_contamination' in checks_to_do %}

			{% if sample_analysis.get_contamination_fusion == False %}

			<td class="table-success"> {{sample_analysis.get_contamination_fusion}} </td>

			{% else %}

			<td class="table-danger"> {{sample_analysis.get_contamination_fusion}} </td>

			{% endif %}

			{% if sample_analysis.get_contamination_referral_fusion == False %}

			<td class="table-success"> {{sample_analysis.get_contamination_referral_fusion}} </td>

			{% else %}

			<td class="table-danger"> {{sample_analysis.get_contamination_referral_fusion}} </td>

			{% endif %}

		{% endif %}

		{% if 'ntc_contamination' in checks_to_do %}

			{% if sample_analysis.passes_ntc_contamination == True %}
				<td class="table-success"> {{sample_analysis.passes_ntc_contamination}} </td>
			{% else %}
				<td class="table-danger"> {{sample_analysis.passes_ntc_contamination}} </td>
			{% endif %}

		{% endif %}

		{% if 'pct_on_target' in checks_to_do %}

				{% if sample_analysis.get_pct_on_target > run_analysis.min_on_target_reads_warning %}
					<td class="table-success"> {{sample_analysis.get_pct_on_target}} </td>
				{% else %}
					<td class="table-warning"> {{sample_analysis.get_pct_on_target}} </td>
				{% endif %}

		{% endif %}

		{% if run_analysis.display_cnv_qc_metrics %}
			{% if run_analysis.analysis_type.analysis_type_id == "NonocusWES38" %}
				{% if sample_analysis.passes_cnv_calling %}
					<td class="table-success">{{ sample_analysis.passes_cnv_calling }}</td>
				{% else %}
					<td class="table-danger">{{ sample_analysis.passes_cnv_calling }}</td>
				{% endif %}
			{% endif %}
		{% endif %}
		
		{% if 'min_average_coverage' in checks_to_do %}
		
			{% if sample_analysis.passes_average_coverage %}
			<td class="table-success">{{ sample_analysis.get_average_coverage }}</td>
			{% else %}
			<td class="table-danger">{{ sample_analysis.get_average_coverage }}</td>
			{% endif %}

		{% endif %}

		{% if 'cnv_call_range' in checks_to_do %}
			
			{% if sample_analysis.passes_cnv_count %}
			<td class="table-success">{{ sample_analysis.get_cnv_count }}</td>
			{% else %}
			<td class="table-warning">{{ sample_analysis.get_cnv_count }}</td>
			{% endif %}
			
		{% endif %}
		
		{% if 'sex_match' in checks_to_do %}

		{% if sample_analysis.passes_sex_check == True %}
			<td class="table-success"> {{sample_analysis.get_sex}} </td>
			<td class="table-success"> {{sample_analysis.get_calculated_sex}} </td>
		{% else %}
			<td class="table-danger"> {{sample_analysis.get_sex}} </td>
			<td class="table-danger"> {{sample_analysis.get_calculated_sex}} </td>
		{% endif %}

		{% endif %}

		{% if run_analysis.watching == False %}
			{% if sample_analysis.sample_status == 'Pass' %}
				<td class='table-success'>{{sample_analysis.sample_status}} </td>
			{% elif sample_analysis.sample_status == 'Fail' %}
				<td class="table-danger">{{sample_analysis.sample_status}}</td >

			{% else %}

				<td>NA</td >
			{% endif %}
		{% endif %}

		{% if run_analysis.watching == True %}

			{% if sample_analysis.sample_status == 'Pass' %}
			<td>   <input type="checkbox" id="{{sample_analysis.pk}}" name="{{sample_analysis.pk}}" value="{{sample_analysis.pk}}" checked> </td>

			{% elif sample_analysis.sample_status == 'Fail' %}

			<td>   <input type="checkbox" id="{{sample_analysis.pk}}" name="{{sample_analysis.pk}}" value="{{sample_analysis.pk}}"> </td>

			{% elif sample_analysis.sample_status == None %}

				{% if sample_analysis.sample.sample_id in auto_qc.2 or run_analysis.results_completed == False or run_analysis.results_valid == False %}

				<td>   <input type="checkbox" id="{{sample_analysis.pk}}" name="{{sample_analysis.pk}}" value="{{sample_analysis.pk}}"> </td>

				{% else %}

				<td>   <input type="checkbox" id="{{sample_analysis.pk}}" name="{{sample_analysis.pk}}" value="{{sample_analysis.pk}}" checked>   </td>

				{% endif %}

			{% endif %}
		{% endif %}

	{% endif %}
	</tr>
	{% endfor %}
  </tbody>


</table>


<h2> Bioinformatics QC </h2>

<div class="bioinformatics_table" >

	<table id="run_analysis" class="table table-hover table-bordered table-sm" >

	  <thead>
		<tr>
		  <th>Sample</th>
		  <th>Demultiplexing Complete</th>
		  <th>Demultiplexing Valid</th>
		  <th>Sample Level Pipeline Complete</th>
		  <th>Sample Level Pipeline Valid</th>
		  <th>Run Level Pipeline Complete</th>
		  <th>Run Level Pipeline Valid</th>
		</tr>
	  </thead>

	  <tbody>
		{% for sample_analysis in sample_analyses %}
		<tr>


			<td> {{sample_analysis.sample.sample_id}} </td>


			{% if sample_analysis.get_run_analysis.demultiplexing_completed == True %}
				<td class="table-success"> {{sample_analysis.get_run_analysis.demultiplexing_completed}} </td>
			{% else %}
				<td class="table-danger"> {{sample_analysis.get_run_analysis.demultiplexing_completed}} </td>
			{% endif %}

			{% if sample_analysis.get_run_analysis.demultiplexing_valid == True %}
				<td class="table-success"> {{sample_analysis.get_run_analysis.demultiplexing_completed}} </td>
			{% else %}
				<td class="table-danger"> {{sample_analysis.get_run_analysis.demultiplexing_valid}} </td>
			{% endif %}

			{% if sample_analysis.results_completed == True %}
				<td class="table-success"> {{sample_analysis.results_completed}} </td>
			{% else %}
				<td class="table-danger"> {{sample_analysis.results_completed}} </td>
			{% endif %}

			{% if sample_analysis.results_valid == True %}
				<td class="table-success"> {{sample_analysis.results_valid}} </td>
			{% else %}
				<td class="table-danger"> {{sample_analysis.results_valid}} </td>
			{% endif %}

			{% if sample_analysis.get_run_analysis.results_completed == True %}
				<td class="table-success"> {{sample_analysis.get_run_analysis.results_completed}} </td>
			{% else %}
				<td class="table-danger"> {{sample_analysis.get_run_analysis.results_completed}} </td>
			{% endif %}

			{% if sample_analysis.get_run_analysis.results_valid == True %}
				<td class="table-success"> {{sample_analysis.get_run_analysis.results_valid}} </td>
			{% else %}
				<td class="table-danger"> {{sample_analysis.get_run_analysis.results_valid}} </td>
			{% endif %}

		</tr>
		{% endfor %}
	  </tbody>
	</table>

<br>
<br>

<div>	
	{% if run_analysis.watching == True %}
		<label name='run_status' for='run_status'> Approval </label> &nbsp

		<select name='run_status' id='run_status' class="btn btn dropdown-toggle">
			<option value="Pass">Pass</option>
			<option value="Fail">Fail</option>
		</select>
		<br>
		</br>
		<div>
		</div>
		<label style= "float: left" for='run_status_comment'> Comment</label> &nbsp
			<textarea name='run_status_comment'id='run_status_comment'  class="form-control"  required> {{run_analysis.comment}} </textarea>

		<br>
	</br>
	<div class = "text-center">
		<button type="submit" class="btn btn-success submit-selected text-center">Finalise</button>
	</div>
</div>

{% else %}



{% endif %}


</form>


{% endif %}





<center>
  <div>

	<br>

	{% if perms.qc_database.add_runanalysis %}

	{% if run_analysis.watching == True %}
	


	{% else %}
	<br>

	{% crispy reset_form %}

	{% endif %}


	{% else %}
	Please Contact Bioinformatics Department if you need to sign off this run.

	{% endif %}


</div>
</center>

<!-- JAVASCRIPT -->
<!-- Script to hide and show Bioinformatics QC Table -->
<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var bioinformatics_table = this.nextElementSibling;
    if (bioinformatics_table.style.display === "block") {
      bioinformatics_table.style.display = "none";
    } else {
      bioinformatics_table.style.display = "block";
    }
  });
}
</script>


{% endblock %}


