{% extends 'auto_qc/base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

<br>

<h2> Run Information </h2>

<table id="run_analysis" class="table table-hover table-bordered table-sm">
 <tbody>
	<tr>
		<td> Run </td>
		<td> {{run_analysis.run.run_id}} </td>
	</tr>
	<tr>
		<td> Worksheets </td>
		<td> {{run_analysis.get_worksheets}} </td>

	</tr>
	<tr>
		<td> Pipeline </td>
		<td> {{run_analysis.pipeline.pipeline_id}} </td>

	</tr>
	<tr>
		<td> Analysis </td>
		<td> {{run_analysis.analysis_type.analysis_type_id}} </td>

	</tr>

	{% if 'pct_q30' in checks_to_do %}

	<tr>
		<td> Min Q30 Score </td>
		<td> {{min_q30_score}}%</td>

	</tr>

	{% endif %}

	{% if 'contamination' in checks_to_do %}
	<tr>
		<td> Max Contamination Score </td>
		<td> {{max_contamination_score}}%</td>

	</tr>

	{% endif %}

	{% if 'ntc_contamination' in checks_to_do %}

	<tr>
		<td> Max NTC Contamination Score </td>
		<td> {{max_ntc_contamination_score}}%</td>

	</tr>

	{% endif %}


	{% if 'variant_check' in checks_to_do %}

	<tr>
		<td> Min Number of Variants </td>
		<td> {{run_analysis.min_variants}}</td>

	</tr>

	<tr>
		<td> Max Number of Variants </td>
		<td> {{run_analysis.max_variants}}</td>

	</tr>

	{% endif %}

	{% if run_analysis.watching == False %}

	<tr>
		<td> Sign Off User </td>
		<td> {{run_analysis.signoff_user}}</td>

	</tr>

	<tr>
		<td> Manual QC </td>
		<td> {{run_analysis.manual_approval}}</td>

	</tr>

	<tr>
		<td> Manual QC Comment</td>
		<td> {{run_analysis.comment}}</td>

	</tr>


	{% endif %}

	{% if run_analysis.analysis_type.analysis_type_id == 'IlluminaTruSightOne' and  run_analysis.sensitivity != None %}

	<tr>
		<td> Sensitivity</td>
		<td> {{run_analysis.sensitivity}} ({{run_analysis.sensitivity_lower_ci}}-{{run_analysis.sensitivity_higher_ci}})</td>

	</tr>

	<tr>
		<td> Sensitivity User </td>
		<td> {{run_analysis.sensitivity_user}}</td>

	</tr>


	{% endif %}

  </tbody>


</table>

<h2> Auto QC </h2>

{% if auto_qc.0 == True %}
<div class="alert alert-success">

  <a class="btn btn-success" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Pass
  </a>

<div class="collapse" id="collapseExample">
	<br>
  <div class="card card-body">
   The following checks were performed: bioinformatics,{{run_analysis.auto_qc_checks}}
  </div>
</div>

</div>
{% else %}

<div class="alert alert-danger">

  <a class="btn btn-danger" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Fail ({{ auto_qc.1 }})
  </a>

<div class="collapse" id="collapseExample">
	<br>
  <div class="card card-body">
     The following checks were performed: bioinformatics,{{run_analysis.auto_qc_checks}}
  </div>
</div>

</div>



{% endif %}


<h2> Run Level QC </h2>

<table id="run_analysis" class="table table-hover table-bordered table-sm">

  <thead>
	<tr>
	  <th>Read</th>
	  <th>Lane</th>
	  <th>Percent > q30</th>
	</tr>
  </thead>

 <tbody>
	{% for run_level_quality in run_level_qualities %}

	{% if run_level_quality.percent_q30 > min_q30_score %}
	<tr class="table-success">
		<td> {{run_level_quality.read_number}} </td>
		<td> {{run_level_quality.lane_number}} </td>
		<td> {{run_level_quality.percent_q30}} </td>
	</tr>
	{% else %}
	<tr class="table-danger">
		<td> {{run_level_quality.read_number}} </td>
		<td> {{run_level_quality.lane_number}} </td>
		<td> {{run_level_quality.percent_q30}} </td>
	</tr>

	{% endif %}




	{% endfor %}
  </tbody>


</table>


<h2> Sample Level QC </h2>

<table id="run_analysis" class="table table-hover table-bordered table-sm">

  <thead>
	<tr>
	  <th>Sample</th>
	  <th>FASTQC</th>
	  <th>Total Reads</th>
	  <th>Total Variants</th>
	  <th>Contamination</th>
	  <th>Passes NTC Contamination</th>
	  <th>Sample Sex</th>
	  <th>Calculated Sex</th>
	</tr>
  </thead>

  <tbody>
	{% for sample_analysis in sample_analyses %}
	<tr>

		{% if sample_analysis.sample.is_ntc == True %}

			<td class="table-dark"> {{sample_analysis.sample.sample_id}} </td>
			<td class="table-dark"> {{sample_analysis.passes_fastqc}} </td>
			<td class="table-dark"> {{sample_analysis.get_total_reads}} </td>
			<td class="table-dark"> {{sample_analysis.get_variant_count}} </td>
			<td class="table-dark"> {{sample_analysis.get_contamination}} </td>
			<td class="table-dark"> {{sample_analysis.passes_ntc_contamination}} </td>
			<td class="table-dark"> {{sample_analysis.get_sex}} </td>
			<td class="table-dark"> {{sample_analysis.get_calculated_sex}} </td>

		{% else %}


		<td> {{sample_analysis.sample.sample_id}} </td>

		{% if sample_analysis.passes_fastqc == True %}
			<td class="table-success"> {{sample_analysis.passes_fastqc}} </td>
		{% else %}
			<td class="table-danger"> {{sample_analysis.passes_fastqc}} </td>
		{% endif %}

		<td> {{sample_analysis.get_total_reads}} </td>

		{% if sample_analysis.get_variant_count == 'NA' %}
			<td> {{sample_analysis.get_variant_count}} </td>
		{% elif sample_analysis.get_variant_count > run_analysis.min_variants and sample_analysis.get_variant_count < run_analysis.max_variants  %}
			<td class="table-success"> {{sample_analysis.get_variant_count}} </td>
		{% else %}
			<td class="table-danger"> {{sample_analysis.get_variant_count}} </td>
		{% endif %}


		{% if sample_analysis.get_contamination == 'NA' %}
			<td> {{sample_analysis.get_contamination}} </td>
		{% elif sample_analysis.get_contamination < sample_analysis.contamination_cutoff %}
			<td class="table-success"> {{sample_analysis.get_contamination}} </td>
		{% else %}
			<td class="table-danger"> {{sample_analysis.get_contamination}} </td>
		{% endif %}

		{% if sample_analysis.passes_ntc_contamination == True %}
			<td class="table-success"> {{sample_analysis.passes_ntc_contamination}} </td>
		{% else %}
			<td class="table-danger"> {{sample_analysis.passes_ntc_contamination}} </td>
		{% endif %}

		{% if sample_analysis.passes_sex_check == True %}
			<td class="table-success"> {{sample_analysis.get_sex}} </td>
			<td class="table-success"> {{sample_analysis.get_calculated_sex}} </td>
		{% else %}
			<td class="table-danger"> {{sample_analysis.get_sex}} </td>
			<td class="table-danger"> {{sample_analysis.get_calculated_sex}} </td>
		{% endif %}

	{% endif %}

	</tr>
	{% endfor %}
  </tbody>


</table>

<h2> Bioinformatics QC </h2>


<table id="run_analysis" class="table table-hover table-bordered table-sm">

  <thead>
	<tr>
	  <th>Sample</th>
	  <th>Demultiplexing Complete</th>
	  <th>Demultiplexing Valid</th>
	  <th>Sample Level Pipeline Complete</th>
	  <th>Sample Level Pipeline Valid</th>
	  <th>Run Level Pipeline Complete</th>
	  <th>Run Level Pipeline Valid</th>
	</tr>
  </thead>

  <tbody>
	{% for sample_analysis in sample_analyses %}
	<tr>


		<td> {{sample_analysis.sample.sample_id}} </td>


		{% if sample_analysis.get_run_analysis.demultiplexing_completed == True %}
			<td class="table-success"> {{sample_analysis.get_run_analysis.demultiplexing_completed}} </td>
		{% else %}
			<td class="table-danger"> {{sample_analysis.get_run_analysis.demultiplexing_completed}} </td>
		{% endif %}

		{% if sample_analysis.get_run_analysis.demultiplexing_valid == True %}
			<td class="table-success"> {{sample_analysis.get_run_analysis.demultiplexing_completed}} </td>
		{% else %}
			<td class="table-danger"> {{sample_analysis.get_run_analysis.demultiplexing_valid}} </td>
		{% endif %}

		{% if sample_analysis.results_completed == True %}
			<td class="table-success"> {{sample_analysis.results_completed}} </td>
		{% else %}
			<td class="table-danger"> {{sample_analysis.results_completed}} </td>
		{% endif %}

		{% if sample_analysis.results_valid == True %}
			<td class="table-success"> {{sample_analysis.results_valid}} </td>
		{% else %}
			<td class="table-danger"> {{sample_analysis.results_valid}} </td>
		{% endif %}

		{% if sample_analysis.get_run_analysis.results_completed == True %}
			<td class="table-success"> {{sample_analysis.get_run_analysis.results_completed}} </td>
		{% else %}
			<td class="table-danger"> {{sample_analysis.get_run_analysis.results_completed}} </td>
		{% endif %}

		{% if sample_analysis.get_run_analysis.results_valid == True %}
			<td class="table-success"> {{sample_analysis.get_run_analysis.results_valid}} </td>
		{% else %}
			<td class="table-danger"> {{sample_analysis.get_run_analysis.results_valid}} </td>
		{% endif %}

	</tr>
	{% endfor %}
  </tbody>


</table>




	{% if run_analysis.watching == True and run_analysis.analysis_type.analysis_type_id == 'IlluminaTruSightOne' %}
	<center>
  		<div>

	<br>
	{% crispy sensitivity_form %}


</div>
</center>

	<hr>
	{% endif %}









<center>
  <div>

	<br>

	{% if run_analysis.watching == True %}
	
	{% crispy form %}

	{% else %}
	<hr>

	{% crispy reset_form %}

	{% endif %}

</div>
</center>




{% endblock %}